<app-admin-projects-summary></app-admin-projects-summary>


<div
    class="
      text-3xl
      font-semibold font-sans
      text-black
      w-100
      bg-white
      p-3
      pl-4
      rounded-lg
      mb-10
    "
  >
    Projects
  </div>

  <div class="dashboard__section">
    <div class="dashboard__head">
    </div>
    <div class="dashboard__body">
      <div class="dashboard__list">

        <div class="card card_big shadow-sm hover:shadow-md">
          <div class="card__head"><a class="card__title js-popup-open" href="#popup-details" data-effect="mfp-zoom-in">Product Preview & Mock up for Marketing</a>
            <div class="card__info">Iconspace Team</div>
            <div class="options js-options"><button class="options__btn js-options-btn"><svg class="icon icon-dots">
                  <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-dots"></use>
                </svg></button>
              <div class="options__dropdown js-options-dropdown">
                <div class="options__stage">Option<button class="options__close js-options-close"><svg class="icon icon-close">
                      <use xlink:href="img/sprite.svg#icon-close"></use>
                    </svg></button></div>
                <div class="options__group"><a class="options__item" href="#">
                    <div class="options__info">Add New Projects…</div>
                    <div class="options__text">In this menu you can add new projects. It can make easlily you to make your projects more organize</div>
                  </a><a class="options__item" href="#">
                    <div class="options__info">Import Project from Outside…</div>
                    <div class="options__text">In this menu you can add new projects. It can make easlily you to make your projects.</div>
                  </a><a class="options__item" href="#">
                    <div class="options__info">Share Your Projects to…</div>
                    <div class="options__text">In this menu you can add new projects. It can make easlily you to make your projects.</div>
                  </a></div>
              </div>
            </div>
          </div>
          <div class="card__parameters">
            <div class="card__parameter"><svg class="icon icon-add">
                <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-add"></use>
              </svg>13</div>
            <div class="card__parameter card__parameter_time orange"><svg class="icon icon-clock">
                <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-clock"></use>
              </svg>7 days left</div>
          </div>
          <div class="card__scale">
            <div class="card__percent">85%</div>
            <div class="card__line">
              <div class="card__progress" style="width: 85%;"></div>
            </div>
          </div>
          <div class="users">
            <div class="users__item" style="background-color: #FFC542">KA</div>
            <div class="users__item" style="background-color: #A461D8">RR</div>
            <div class="users__item"><img class="users__pic" src="/assets/templates/square_template//ava-1.png" alt=""></div>
            <div class="users__item"><img class="users__pic" src="/assets/templates/square_template/img/ava-2.png" alt=""></div>
            <div class="users__item users__item_counter">+3</div>
          </div>
        </div>
                       
        <a class="card card_add" href="#">
          <div class="card__add">
            <div class="card__icon"><svg class="icon icon-plus">
                <use xlink:href="/assets/templates/square_template/img/sprite.svg#icon-plus"></use>
              </svg></div>
            <div class="card__text">Add projects</div>
          </div>
        </a>
      </div>
    </div>
  </div>