<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/assets/templates/square_template/img/apple-touch-icon.png"
/>
<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png" />
<link rel="manifest" href="img/site.webmanifest" />
<link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />
<meta
  name="description"
  content="This is Signin Page of Nomad Dashboard Website"
/>

<div class="out">
  <div class="login">
    <div class="login__container">
      <div class="login__wrap">
        <div class="login">
          <div class="login__container">
            <div class="login__wrap">
              <form
                nz-form
                class="login__form"
                [formGroup]="SigninForm"
                (ngSubmit)="onSubmit()"
                #signupForm="ngForm"
              >
                <div class="login__body">
                  <div class="login__title">Sign In</div>

                  <nz-form-item class="SignupFormControl">
                    <nz-form-control nzHasFeedback [nzErrorTip]="userNameError">
                      <nz-input-group nzPrefixIcon="user">
                        <input
                          nz-input
                          formControlName="userName"
                          placeholder="User Name"
                          type="text"
                        />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item class="SignupFormControl">
                    <nz-form-control nzHasFeedback [nzErrorTip]="passwordError">
                      <nz-input-group
                        nzPrefixIcon="lock"
                        [nzSuffix]="passwordSuffix"
                      >
                        <input
                          nz-input
                          formControlName="password"
                          placeholder="Password"
                          [type]="passwordVisible ? 'text' : 'password'"
                        />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>

                  

                  <div *ngIf="!isLoading; else loadingBtn">
                    <button
                      nz-button
                      nzType="primary"
                      class="login__btn btn btn btn_blue"
                      type="submit"
                    >
                      <i nz-icon nzType="user-add"></i> Register
                    </button>
                  </div>
                </div>
                <div class="login__foot">
                  <a class="login__link" routerLink="/auth/signup/"
                    >Dont have an Account? Sign Up</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Validation Templates -->
<ng-template #userNameError>
  <ng-container *ngIf="UserName.hasError('required')">
    User Name is required
  </ng-container>
</ng-template>

<ng-template #passwordError>
  <ng-container *ngIf="Password.hasError('required')">
    Enter Password
  </ng-container>
</ng-template>

<!-- Other Templates -->

<ng-template #passwordSuffix>
  <i
    nz-icon
    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
    (click)="passwordVisible = !passwordVisible"
  ></i>
</ng-template>

<ng-template #loadingBtn>
  <button
    nz-button
    nzType="primary"
    class="login__btn btn btn btn_blue"
    type="submit"
    nzLoading
  >
    <i nz-icon nzType="user-add"></i> Register
  </button>
</ng-template>
