<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />
<meta
  name="description"
  content="This is Signin Page of Nomad Dashboard Website"
/>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>
<div class="out">
  <div class="page">
    <div class="header js-header header_empty">
      <div class="header__bg js-header-bg"></div>
    </div>
    <div class="page__wrapper">
      <div class="entry">
        <div class="entry__wrap">
          <h1 class="entry__title" nz-typography>Sign Up As</h1>
          <div class="entry__info">Signup As Client or Customer.</div>

          <div class="row mt-5">
            <div class="col-sm-6 text-center">
              <div class="register-box">
                <a routerLink="/auth/client">
                  <i class="fas fa-mug-hot"></i>
                  <h4>Client</h4>
                </a>
              </div>
            </div>

            <div class="col-sm-6 text-center">
              <div class="register-box">
                <a routerLink="/auth/employee">
                  <i class="fa fa-users"></i>
                  <h4>Customer</h4>
                </a>
              </div>
            </div>
          </div>

          <div class="entry__bottom">
            <a class="entry__link" routerLink="/auth/signin"
              >Already have an account? Sign In</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
