<div class="projects__container cell js-projects-container">
  <div class="projects__section mb-2">
    <div class="projects__inner shadow-md">
      <div class="projects__head">
        <div class="projects__category">Pending</div>
      </div>
      <div class="projects__group">
        <div class="card hover:shadow-md mb-2">
          <div class="card__head">
            <a
              class="card__title js-popup-open"
              href="#popup-details"
              data-effect="mfp-zoom-in"
              >Development - Circle Website</a
            >
            <div class="card__info">Iconspace Team</div>
          </div>
          <div class="card__parameters">
            <div class="card__parameter">
              <svg class="icon icon-add">
                <use
                  xlink:href="/assets/templates/square_template/img/sprite.svg#icon-add"
                ></use></svg>13
            </div>
            <div class="card__parameter">
              <svg class="icon icon-check-circle">
                <use
                  xlink:href="/assets/templates/square_template/img/sprite.svg#icon-check-circle"
                ></use></svg>4/5
            </div>
            <div class="card__parameter card__parameter_time">
              <svg class="icon icon-clock">
                <use
                  xlink:href="/assets/templates/square_template/img/sprite.svg#icon-clock"
                ></use></svg>14 days left
            </div>
          </div>
          <div class="card__scale">
            <div class="card__percent">85%</div>
            <div class="card__line">
              <div class="card__progress" style="width: 85%"></div>
            </div>
          </div>
          <div class="users">
            <div class="users__item">
              <img class="users__pic" src="img/ava-3.png" alt="" />
            </div>
            <div class="users__item" style="background-color: #50b5ff">AF</div>
            <div class="users__item users__item_counter">+3</div>
          </div>
          <div class="options js-options">
            <button class="options__btn js-options-btn">
              <svg class="icon icon-dots">
                <use xlink:href="img/sprite.svg#icon-dots"></use>
              </svg>
            </button>
            <div class="options__dropdown js-options-dropdown">
              <div class="options__stage">
                Option<button class="options__close js-options-close">
                  <svg class="icon icon-close">
                    <use xlink:href="img/sprite.svg#icon-close"></use>
                  </svg>
                </button>
              </div>
              <div class="options__group">
                <a class="options__item" href="#">
                  <div class="options__info">Add New Projects…</div>
                  <div class="options__text">
                    In this menu you can add new projects. It can make easlily
                    you to make your projects more organize
                  </div> </a
                ><a class="options__item" href="#">
                  <div class="options__info">Import Project from Outside…</div>
                  <div class="options__text">
                    In this menu you can add new projects. It can make easlily
                    you to make your projects.
                  </div> </a
                ><a class="options__item" href="#">
                  <div class="options__info">Share Your Projects to…</div>
                  <div class="options__text">
                    In this menu you can add new projects. It can make easlily
                    you to make your projects.
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="projects__add" href="#"
        ><svg class="icon icon-plus">
          <use
            xlink:href="/assets/templates/square_template/img/sprite.svg#icon-plus"
          ></use></svg></a>
    </div>
  </div>

  <div class="projects__section mb-2">
    <div class="projects__inner shadow-md">
      <div class="projects__head">
        <div class="projects__category">Running</div>
      </div>
      <div class="projects__group">
        <div class="card hover:shadow-md mb-2">
          <div class="card__head">
            <a
              class="card__title js-popup-open"
              href="#popup-details"
              data-effect="mfp-zoom-in"
              >Development - Circle Website</a
            >
            <div class="card__info">Iconspace Team</div>
          </div>
          <div class="card__parameters">
            <div class="card__parameter">
              <svg class="icon icon-add">
                <use
                  xlink:href="/assets/templates/square_template/img/sprite.svg#icon-add"
                ></use></svg>13
            </div>
            <div class="card__parameter">
              <svg class="icon icon-check-circle">
                <use
                  xlink:href="/assets/templates/square_template/img/sprite.svg#icon-check-circle"
                ></use></svg>4/5
            </div>
            <div class="card__parameter card__parameter_time">
              <svg class="icon icon-clock">
                <use
                  xlink:href="/assets/templates/square_template/img/sprite.svg#icon-clock"
                ></use></svg>14 days left
            </div>
          </div>
          <div class="card__scale">
            <div class="card__percent">85%</div>
            <div class="card__line">
              <div class="card__progress" style="width: 85%"></div>
            </div>
          </div>
          <div class="users">
            <div class="users__item">
              <img class="users__pic" src="img/ava-3.png" alt="" />
            </div>
            <div class="users__item" style="background-color: #50b5ff">AF</div>
            <div class="users__item users__item_counter">+3</div>
          </div>
          <div class="options js-options">
            <button class="options__btn js-options-btn">
              <svg class="icon icon-dots">
                <use xlink:href="img/sprite.svg#icon-dots"></use>
              </svg>
            </button>
            <div class="options__dropdown js-options-dropdown">
              <div class="options__stage">
                Option<button class="options__close js-options-close">
                  <svg class="icon icon-close">
                    <use xlink:href="img/sprite.svg#icon-close"></use>
                  </svg>
                </button>
              </div>
              <div class="options__group">
                <a class="options__item" href="#">
                  <div class="options__info">Add New Projects…</div>
                  <div class="options__text">
                    In this menu you can add new projects. It can make easlily
                    you to make your projects more organize
                  </div> </a
                ><a class="options__item" href="#">
                  <div class="options__info">Import Project from Outside…</div>
                  <div class="options__text">
                    In this menu you can add new projects. It can make easlily
                    you to make your projects.
                  </div> </a
                ><a class="options__item" href="#">
                  <div class="options__info">Share Your Projects to…</div>
                  <div class="options__text">
                    In this menu you can add new projects. It can make easlily
                    you to make your projects.
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="projects__add" href="#"
        ><svg class="icon icon-plus">
          <use
            xlink:href="/assets/templates/square_template/img/sprite.svg#icon-plus"
          ></use></svg></a>
    </div>
  </div>

  <div class="projects__section mb-2">
    <div class="projects__inner shadow-md">
      <div class="projects__head">
        <div class="projects__category">Completed</div>
      </div>
      <div class="projects__group">
        <div class="card hover:shadow-md mb-2">
          <div class="card__head">
            <a
              class="card__title js-popup-open"
              href="#popup-details"
              data-effect="mfp-zoom-in"
              >Development - Circle Website</a
            >
            <div class="card__info">Iconspace Team</div>
          </div>
          <div class="card__parameters">
            <div class="card__parameter">
              <svg class="icon icon-add">
                <use
                  xlink:href="/assets/templates/square_template/img/sprite.svg#icon-add"
                ></use></svg>13
            </div>
            <div class="card__parameter">
              <svg class="icon icon-check-circle">
                <use
                  xlink:href="/assets/templates/square_template/img/sprite.svg#icon-check-circle"
                ></use></svg>4/5
            </div>
            <div class="card__parameter card__parameter_time">
              <svg class="icon icon-clock">
                <use
                  xlink:href="/assets/templates/square_template/img/sprite.svg#icon-clock"
                ></use></svg>14 days left
            </div>
          </div>
          <div class="card__scale">
            <div class="card__percent">85%</div>
            <div class="card__line">
              <div class="card__progress" style="width: 85%"></div>
            </div>
          </div>
          <div class="users">
            <div class="users__item">
              <img class="users__pic" src="img/ava-3.png" alt="" />
            </div>
            <div class="users__item" style="background-color: #50b5ff">AF</div>
            <div class="users__item users__item_counter">+3</div>
          </div>
          <div class="options js-options">
            <button class="options__btn js-options-btn">
              <svg class="icon icon-dots">
                <use xlink:href="img/sprite.svg#icon-dots"></use>
              </svg>
            </button>
            <div class="options__dropdown js-options-dropdown">
              <div class="options__stage">
                Option<button class="options__close js-options-close">
                  <svg class="icon icon-close">
                    <use xlink:href="img/sprite.svg#icon-close"></use>
                  </svg>
                </button>
              </div>
              <div class="options__group">
                <a class="options__item" href="#">
                  <div class="options__info">Add New Projects…</div>
                  <div class="options__text">
                    In this menu you can add new projects. It can make easlily
                    you to make your projects more organize
                  </div> </a
                ><a class="options__item" href="#">
                  <div class="options__info">Import Project from Outside…</div>
                  <div class="options__text">
                    In this menu you can add new projects. It can make easlily
                    you to make your projects.
                  </div> </a
                ><a class="options__item" href="#">
                  <div class="options__info">Share Your Projects to…</div>
                  <div class="options__text">
                    In this menu you can add new projects. It can make easlily
                    you to make your projects.
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="projects__add" href="#"
        ><svg class="icon icon-plus">
          <use
            xlink:href="/assets/templates/square_template/img/sprite.svg#icon-plus"
          ></use></svg></a>
    </div>
  </div>
</div>
