<div class="admin">
  <div
    class="
      text-3xl
      font-semibold font-sans
      text-black
      w-100
      bg-white
      p-3
      pl-4
      rounded-lg
      mb-10
    "
  >
    Projects Summary
  </div>
  <div class="admin__list">
    <a class="admin__item shadow hover:shadow-lg">
      <div class="admin__icon bg-purple-400">
        <i class="icon text-white fas fa-play"></i>
      </div>
      <div class="admin__number">0</div>
      <div class="admin__info">Started</div>
    </a>
    <a class="admin__item shadow hover:shadow-lg">
      <div class="admin__icon bg-blue-400">
        <i class="icon text-white fas fa-hourglass-start"></i>
      </div>
      <div class="admin__number">1</div>
      <div class="admin__info">In Progress</div>
    </a>
    <a class="admin__item shadow hover:shadow-lg">
      <div class="admin__icon bg-yellow-400">
        <i class="icon text-white fas fa-pause"></i>
      </div>
      <div class="admin__number">0</div>
      <div class="admin__info">On Hold</div>
    </a>
  </div>
  <div class="admin__list">
    <a class="admin__item shadow hover:shadow-lg">
      <div class="admin__icon bg-red-400">
        <i class="icon text-white fab fa-cuttlefish"></i>
      </div>
      <div class="admin__number">0</div>
      <div class="admin__info">Canceled</div>
    </a>
    <a class="admin__item shadow hover:shadow-lg">
      <div class="admin__icon bg-green-400">
        <i class="icon text-white fas fa-check"></i>
      </div>
      <div class="admin__number">0</div>
      <div class="admin__info">Finished</div>
    </a>
  </div>
</div>

<div
    class="
      text-3xl
      font-semibold font-sans
      text-black
      w-100
      bg-white
      p-3
      pl-4
      rounded-lg
      mb-10
    "
  >
    Projects Table
  </div>
