<div class="notifications">
  <div class="sorting1">
    <div class="sorting1__row">
      <h1 class="sorting1__title title">Notifications</h1>
    </div>
  </div>
  <div class="notifications__list">
    <div class="notifications__item active">
      <div class="ava">
        <img
          class="ava__pic"
          src="/assets/templates/square_template/img/ava-1.png"
          alt=""
        />
      </div>
      <div class="notifications__details">
        <div class="notifications__text">
          <strong>Janeta Janet</strong> posted in
          <strong>UI/UX Community</strong> : “Mobile Apps UI Designer is
          required for Tech…”
        </div>
        <div class="notifications__time">12 Minutes ago</div>
      </div>

      <div class="options2 js-options">
        <button class="options2__btn js-options-btn">
          <svg class="icon icon-dots">
            <use
              xlink:href="/assets/templates/square_template/img/sprite.svg#icon-dots"
            ></use>
          </svg>
        </button>
        <div class="options2__dropdown js-options-dropdown">
          <a class="options2__link" href="#">Remove Notifications</a
          ><a class="options2__link" href="#"
            >Turn Off Notifications from Janeta</a
          >
        </div>
      </div>
    </div>
    <app-notification
      *ngFor="let notification of notifications"
      [notification]="notification"
      class="my-2"
    ></app-notification>
  </div>
</div>
