.sidebar2__profile {
  transition: all 0.4s ease-in-out;
  .ava__pic {
    transition: all 0.3s ease-in;
  }
  &:hover {
    box-shadow: 0 3.5px 3.6px rgba(0, 0, 0, 0.037),
      0 9.6px 10px rgba(0, 0, 0, 0.05), 0 23.2px 24.1px rgba(0, 0, 0, 0.061),
      0 77px 80px rgba(0, 0, 0, 0.09);

    .ava__pic {
      transform: scale(1.04);
    }
  }
}
