<div *ngIf="!isLoading">
  <div class="page2__container p-0">
    <div class="profile profile_user">
      <div
        class="profile__bg"
        style="
          background-image: url('/assets/templates/square_template/img/bg-profile.jpg');
        "
      ></div>
      <div class="profile__user">
        <div class="profile__ava">
          <img
            class="profile__pic"
            src="/assets/templates/square_template/img/ava-big.jpg"
            alt=""
          />
        </div>
        <div class="profile__details">
          <span class="profile__title title"
            >{{ user.firstName }} {{ user.lastName }}</span
          ><span class="profile__login">{{ user.email }}</span>
        </div>
      </div>
    </div>
    <div class="page2__row">
      <div class="page2__col page2__col_w35">
        <div class="card1">
          <div class="card1__head">
            <div class="card1__category h5-responsive">Verification Details</div>
          </div>
          <div class="card1__body">
            <div class="card1__list">
              <div class="row user-detail-row my-3 justify-content-between">
                <div class="col-5">
                  <label class="card__title">Admin</label>
                </div>
                <div class="col-3">
                  <p class="text-success text-right"><i class="fas fa-check-circle"></i></p>
                </div>
              </div>
              <div class="row user-detail-row my-3 justify-content-between">
                <div class="col-5">
                  <label class="card__title">Approved</label>
                </div>
                <div class="col-3">
                  <p class="text-danger text-right"><i class="fas fa-times-circle"></i></p>
                </div>
              </div>
              <div class="row user-detail-row my-3 justify-content-between">
                <div class="col-5">
                  <label class="card__title">Active</label>
                </div>
                <div class="col-3">
                  <p class="text-success text-right"><i class="fas fa-check-circle"></i></p>
                </div>
              </div>
              <div class="row user-detail-row my-3 justify-content-between">
                <div class="col-5">
                  <label class="card__title">Email Verified</label>
                </div>
                <div class="col-3">
                  <p class="text-success text-right" *ngIf="user.emailConfirmed == true"><i class="fas fa-check-circle"></i></p>
                  <p class="text-danger text-right" *ngIf="user.emailConfirmed == false"><i class="fas fa-times-circle"></i></p>
                </div>
              </div>
              <div class="row user-detail-row my-3 justify-content-between">
                <div class="col-5">
                  <label class="card__title">Phone Verified</label>
                </div>
                <div class="col-3">
                  <p class="text-success text-right" *ngIf="user.phoneNumberConfirmed == true"><i class="fas fa-check-circle"></i></p>
                  <p class="text-danger text-right" *ngIf="user.phoneNumberConfirmed == false"><i class="fas fa-times-circle"></i></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="page2__col page2__col_w65">
        <div class="card1">
          <div class="card1__head">
            <div class="card1__category h5-responsive">Profile Details</div>
          </div>
          <div class="card1__body">
            <div class="card1__list">
              <div class="row user-detail-row my-3">
                <div class="col-md-5">
                  <label class="card__title">First Name</label>
                </div>
                <div class="col-md-7">
                  <p>{{ user.firstName }}</p>
                </div>
              </div>
  
              <div class="row user-detail-row my-3">
                <div class="col-md-5">
                  <label class="card__title">Last Name</label>
                </div>
                <div class="col-md-7">
                  <p>{{ user.lastName }}</p>
                </div>
              </div>
  
              <div class="row user-detail-row my-3">
                <div class="col-md-5">
                  <label class="card__title">Email</label>
                </div>
                <div class="col-md-7">
                  <p>{{ user.email }}</p>
                </div>
              </div>
  
              <div class="row user-detail-row my-3">
                <div class="col-md-5">
                  <label class="card__title">User Name</label>
                </div>
                <div class="col-md-7">
                  <p>{{ user.userName }}</p>
                </div>
              </div>
  
  
  
              <div class="row user-detail-row my-3">
                <div class="col-md-5">
                  <label class="card__title">Phone Number</label>
                </div>
                <div class="col-md-7">
                  <p>{{ user.phoneNumber }}</p>
                </div>
              </div>
  
  
  
            </div>
          </div>
        </div>
  
        <div class="card1">
          <div class="card1__head">
            <div class="card1__category h5-responsive">Edit Details</div>
          </div>
          <div class="card1__body">
            <div class="card1__list">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="notFound">
  <h3>
    <strong>{{ userName }}</strong
    >, Not Found
  </h3>
</div>

<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>
