<div *ngIf="!isLoading">
  <div class="page2__container p-0">
    <div class="profile profile_user">
      <div
        class="profile__bg"
        style="
          background-image: url('/assets/templates/square_template/img/bg-profile.jpg');
        "
      ></div>
      <div class="profile__user">
        <div class="profile__ava">
          <img
            class="profile__pic"
            src="{{ user.profilePic }}"
            alt="user-img"
          />
        </div>
        <div class="profile__details">
          <span class="profile__title title"
            >{{ user.firstName }} {{ user.lastName }}</span
          ><span class="profile__login">{{ user.email }}</span>
        </div>
      </div>
    </div>
    <div class="page2__row">
      <div class="page2__col page2__col_w35">
        <app-user-details
          [active]="user.isActive"
          [phone]="user.phoneNumberConfirmed"
          [email]="user.emailConfirmed"
        ></app-user-details>
      </div>

      <div class="page2__col page2__col_w65">
        <app-user-profile-details [userData]="user"></app-user-profile-details>

        <div class="card1 mt-8">
          <div class="card1__head">
            <div class="card1__category h5-responsive">Edit Profile</div>
          </div>
          <div class="card1__body">
            <div class="card1__list"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="notFound">
  <h3>
    <strong>{{ userName }}</strong
    >, Not Found
  </h3>
</div>

<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>
